{% extends 'base.html' %}
{% load static %}

{% block title %}Keyboards{% endblock %}

{% block content %}
<div class="categories m-auto">
    <div class="fixed-grid has-4-cols-desktop has-1-cols-mobile">
        <div class="grid">
            <div class="category">
                <a href="./digital-pianos/"></a>
                    <img src="{% static 'img/digital-pianos.png' %}" alt="Digital Pianos" class="category-image">
                    <p class="category-text">Digital Pianos</p>
                </a>
            </div>
            <div class="category">
                <a href="./synthesizers/">
                    <img src="{% static 'img/synthesizers.png' %}" alt="Synthesizers" class="category-image">
                    <p class="category-text">Synthesizers</p>
                </a>
            </div>
            <div class="category">
                <a href="./workstations/">
                    <img src="{% static 'img/workstations.png' %}" alt="Workstations" class="category-image">
                    <p class="category-text">Workstations</p>
                </a>
            </div>
            <div class="category">
                <a href="./midi-controllers/">
                    <img src="{% static 'img/midi-controllers.png' %}" alt="MIDI Controllers" class="category-image">
                    <p class="category-text">MIDI Controllers</p>
                </a>
            </div>
        </div>
    </div>
</div>

<h1 class="is-size-1 has-text-weight-bold">All Keyboards</h1>
<hr>

<div class="fixed-grid has-4-cols-desktop has-1-cols-mobile m-auto mt-6">
    <div class="grid is-gap-4 m-auto">
        {% for instrument in instruments %}
        <a href="#">
            <div class="card m-auto">
                <div class="card-image">
                    <figure class="image">
                        <img src="{{ instrument.image.url }}" alt="{{ instrument.name }}" class="item">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ instrument.brand }}</p>
                            <p class="subtitle is-6">{{ instrument.model }}</p>
                        </div>
                    </div>
                    <div class="content">
                        <p class="has-text-weight-bold is-size-5 has-text-primary">${{ instrument.price }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}