{% extends 'base.html' %}
{% load static %}

{% block title %}Keyboards{% endblock %}

{% block content %}
<div class="categories m-auto">
    <div class="fixed-grid has-4-cols-desktop has-1-cols-mobile">
        <div class="grid">
            <div class="category">
                <a href="{% url 'keyboards' 'electric-piano' %}">
                    <img src="{% static 'img/digital-pianos.png' %}" alt="Digital Pianos" class="category-image">
                    <p class="category-text">Digital Pianos</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'keyboards' 'synthesizer' %}">
                    <img src="{% static 'img/synthesizers.png' %}" alt="Synthesizers" class="category-image">
                    <p class="category-text">Synthesizers</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'keyboards' 'workstation' %}">
                    <img src="{% static 'img/workstations.png' %}" alt="Workstations" class="category-image">
                    <p class="category-text">Workstations</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'keyboards' 'midi-keyboard' %}">
                    <img src="{% static 'img/midi-controllers.png' %}" alt="MIDI Controllers" class="category-image">
                    <p class="category-text">MIDI Controllers</p>
                </a>
            </div>
            </a>
        </div>
    </div>
</div>
<a href="../">
    <button class="button clear-filters is-warning">Clear filters</button>
</a>

<h1 class="is-size-1 has-text-weight-bold">{{ type }}s</h1>
<hr>

<div class="fixed-grid has-4-cols-desktop has-1-cols-mobile m-auto mt-6">
    <div class="grid is-gap-4 m-auto">
        {% for instrument in instruments %}
        <a href="{% url 'instrument_detail' instrument.type.category.slug instrument.slug %}" class="card-link">
            <div class="card m-auto">
                <div class="card-image">
                    <figure class="image">
                        <img src="{{ instrument.image.url }}" alt="{{ instrument.name }}" class="item">
                    </figure>
                </div>
                <div class="card-content m-0">
                    <p class="title is-5 m-0">{{ instrument.brand }}</p>
                    <p class="subtitle is-6 m-0">{{ instrument.model }}</p>
                    <p class="has-text-weight-bold is-size-5 has-text-danger absolute-bottom-left">${{ instrument.price }}</p>
                    {% if instrument.stock > 0 %}
                    <p class="has-text-weight-bold is-size-5 has-text-primary absolute-bottom-right">In Stock</p>
                    {% else %}
                    <p class="has-text-weight-bold is-size-5 has-text-danger absolute-bottom-right">Out of Stock</p>
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}