{% extends 'base.html' %}
{% load static %}

{% block title %}Strings{% endblock %}

{% block content %}
<div class="categories m-auto">
    <div class="fixed-grid has-4-cols-desktop has-1-cols-mobile">
        <div class="grid">
            <div class="category">
                <a href="{% url 'strings' 'electric-guitar' %}">
                    <img src="{% static 'img/strings.png' %}" alt="Electric Guitars" class="category-image">
                    <p class="category-text">Electric Guitars</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'strings' 'acoustic-guitar' %}">
                    <img src="{% static 'img/acoustic.png' %}" alt="Acoustic Guitars" class="category-image">
                    <p class="category-text">Acoustic Guitars</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'strings' 'violin' %}">
                    <img src="{% static 'img/violins.png' %}" alt="Violins" class="category-image">
                    <p class="category-text">Violins</p>
                </a>
            </div>
            <div class="category">
                <a href="{% url 'strings' 'bass-guitar' %}">
                    <img src="{% static 'img/bass.png' %}" alt="Bass Guitars" class="category-image">
                    <p class="category-text">Bass Guitars</p>
                </a>
            </div>
        </div>
    </div>
</div>

<h1 class="is-size-1 has-text-weight-bold">All Stringed Instruments</h1>
<hr>

<div class="fixed-grid has-4-cols-desktop has-1-cols-mobile m-auto mt-6">
    <div class="grid is-gap-4 m-auto">
        {% for instrument in instruments %}
        <a href="{% url 'instrument_detail' instrument.type.category.slug instrument.slug %}" class="card-link">
            <div class="card m-auto">
                <div class="card-image">
                    <figure class="image">
                        <img src="{{ instrument.image.url }}" alt="{{ instrument.name }}" class="item">
                    </figure>
                </div>
                <div class="card-content m-0">
                    <p class="title is-5 m-0">{{ instrument.brand }}</p>
                    <p class="subtitle is-6 m-0">{{ instrument.model }}</p>
                    <p class="has-text-weight-bold is-size-5 has-text-danger absolute-bottom-left">${{ instrument.price }}</p>
                    {% if instrument.stock > 0 %}
                    <p class="has-text-weight-bold is-size-5 has-text-primary absolute-bottom-right">In Stock</p>
                    {% else %}
                    <p class="has-text-weight-bold is-size-5 has-text-danger absolute-bottom-right">Out of Stock</p>
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}