<div class="navbar is-info">
    <div class="container main-nav">
        <div class="navbar-brand ">
            <a class="navbar-item is-hidden-mobile" href="/">
                <p class="is-size-1 has-text-weight-bold">Music store</p>
            </a>
        </div>
        <div class="navbar-end">
            <div class="search">
                <form class="navbar-item m-0" action="/search/" method="get">
                    <input class="input" type="text" name="q" placeholder="Search for instruments" required>
                    <button class="button box is-white p-auto is-hidden-mobile" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>

            {% if user.is_authenticated %}
            <div class="navbar-item m-0">
                <a class="button box has-background-warning" href="{% url 'dashboard' %}">
                    <i class="fa fa-tachometer"></i>
                </a>
            </div>
            {% else %}
            <div class="navbar-item m-0">
                <a class="button box has-background-success" href="{% url 'login' %}">
                    <i class="fa fa-sign-in"></i>
                </a>
            </div>
            {% endif %}

            {% for group in user.groups.all %}
            {% if group.name == 'editor' %}
            <div class="navbar-item m-0">
                <a class="button box has-background-success" href="{% url 'instrument_create' %}">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            {% endif %}
            {% endfor %}
            <div class="navbar-item m-0">
                <button class="button box" id="theme-switcher" onclick="toggleTheme()">
                    <i class="fa fa-adjust"></i>
                </button>
            </div>
        </div>
        <script>
            function toggleTheme() {
                const html = document.documentElement;
                html.classList.toggle('theme-light');
                if (html.classList.contains('theme-light')) {
                    localStorage.setItem('theme', 'light');
                } else {
                    localStorage.setItem('theme', 'dark');
                }
            }

            document.addEventListener('DOMContentLoaded', () => {
                const savedTheme = localStorage.getItem('theme');
                if (savedTheme === 'light') {
                    document.documentElement.classList.add('theme-light');
                }
                else {
                    document.documentElement.classList.add('theme-light');
                }
            });
        </script>
    </div>
</div>