<style>
    .dropdown button {
        border: none !important;
        background-color: transparent !important;
        color: inherit !important;
        box-shadow: none !important;
    }
</style>

<div class="container">
    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-strings">
                <span>Strings</span>
                <span class="icon is-small"></span>
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-strings" role="menu">
            <div class="dropdown-content">
                <a href="/strings/" class="dropdown-item">Strings</a>
                <hr class="dropdown-divider" />
                <a href="/strings/electric-guitars" class="dropdown-item">Electric Guitars</a>
                <a href="/strings/acoustic-guitars" class="dropdown-item">Acoustic Guitars</a>
                <a href="/strings/violins" class="dropdown-item">Violins</a>
                <a href="/strings/basses" class="dropdown-item">Basses</a>
            </div>
        </div>
    </div>

    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-percussion">
                <span>Percussion</span>
                <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-percussion" role="menu">
            <div class="dropdown-content">
                <a href="/percussion/" class="dropdown-item">Percussion</a>
                <hr class="dropdown-divider" />
                <a href="/percussion/drums" class="dropdown-item">Drum Kits</a>
                <a href="/percussion/cymbals" class="dropdown-item">Cymbals</a>
                <a href="/percussion/congas" class="dropdown-item">Congas</a>
                <a href="/percussion/tambourines" class="dropdown-item">Tambourines</a>
            </div>
        </div>
    </div>

    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-keyboards">
                <span>Keyboards</span>
                <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-keyboards" role="menu">
            <div class="dropdown-content">
                <a href="/keyboards/" class="dropdown-item">Keyboards</a>
                <hr class="dropdown-divider" />
                <a href="/keyboards/digital-pianos" class="dropdown-item">Digital Pianos</a>
                <a href="/keyboards/synthesizers" class="dropdown-item">Synthesizers</a>
                <a href="/keyboards/workstations" class="dropdown-item">Workstations</a>
                <a href="/keyboards/midi-controllers" class="dropdown-item">MIDI Controllers</a>
            </div>
        </div>
    </div>

    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-wind">
                <span>Wind Instruments</span>
                <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-wind" role="menu">
            <div class="dropdown-content">
                <a href="/wind-instruments/" class="dropdown-item">Wind Instruments</a>
                <hr class="dropdown-divider" />
                <a href="/wind-instruments/flutes" class="dropdown-item">Flutes</a>
                <a href="/wind-instruments/clarinets" class="dropdown-item">Clarinets</a>
                <a href="/wind-instruments/saxophones" class="dropdown-item">Saxophones</a>
                <a href="/wind-instruments/trumpets" class="dropdown-item">Trumpets</a>
            </div>
        </div>
    </div>
</div>