<style>
    .dropdown button {
        border: none !important;
        background-color: transparent !important;
        color: inherit !important;
        box-shadow: none !important;
    }
</style>

<div class="container">
    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-strings">
                <span>Strings</span>
                <span class="icon is-small"></span>
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-strings" role="menu">
            <div class="dropdown-content">
                <a href="/strings/" class="dropdown-item">Strings</a>
                <hr class="dropdown-divider" />
                <a href="{% url 'strings' 'electric-guitar' %}" class="dropdown-item">Electric Guitars</a>
                <a href="{% url 'strings' 'acoustic-guitar' %}" class="dropdown-item">Acoustic Guitars</a>
                <a href="{% url 'strings' 'violin' %}" class="dropdown-item">Violins</a>
                <a href="{% url 'strings' 'bass-guitar' %}" class="dropdown-item">Bass Guitars</a>
            </div>
        </div>
    </div>

    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-percussion">
                <span>Percussion</span>
                <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-percussion" role="menu">
            <div class="dropdown-content">
                <a href="/percussion/" class="dropdown-item">Percussion</a>
                <hr class="dropdown-divider" />
                <a href="{% url 'percussion' 'drum-kit' %}" class="dropdown-item">Drum Kits</a>
                <a href="{% url 'percussion' 'cymbal' %}" class="dropdown-item">Cymbals</a>
                <a href="{% url 'percussion' 'conga' %}" class="dropdown-item">Congas</a>
                <a href="{% url 'percussion' 'tambourine' %}" class="dropdown-item">Tambourines</a>
            </div>
        </div>
    </div>

    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-keyboards">
                <span>Keyboards</span>
                <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-keyboards" role="menu">
            <div class="dropdown-content">
                <a href="/keyboards/" class="dropdown-item">Keyboards</a>
                <hr class="dropdown-divider" />
                <a href="{% url 'keyboards' 'electric-piano' %}" class="dropdown-item">Digital Pianos</a>
                <a href="{% url 'keyboards' 'synthesizer' %}" class="dropdown-item">Synthesizers</a>
                <a href="{% url 'keyboards' 'workstation' %}" class="dropdown-item">Workstations</a>
                <a href="{% url 'keyboards' 'midi-keyboard' %}" class="dropdown-item">MIDI Controllers</a>
            </div>
        </div>
    </div>

    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-wind">
                <span>Wind Instruments</span>
                <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-wind" role="menu">
            <div class="dropdown-content">
                <a href="/wind-instruments/" class="dropdown-item">Wind Instruments</a>
                <hr class="dropdown-divider" />
                <a href="{% url 'wind-instruments' 'flute' %}" class="dropdown-item">Flutes</a>
                <a href="{% url 'wind-instruments' 'clarinet' %}" class="dropdown-item">Clarinets</a>
                <a href="{% url 'wind-instruments' 'saxophone' %}" class="dropdown-item">Saxophones</a>
                <a href="{% url 'wind-instruments' 'trumpet' %}" class="dropdown-item">Trumpets</a>
            </div>
        </div>
    </div>
</div>