<nav class="navbar box m-auto" role="navigation" aria-label="main navigation">
    <div id="navbarBasic" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Strings
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/strings/guitars">Guitars</a>
                    <a class="navbar-item" href="/strings/violins">Violins</a>
                    <a class="navbar-item" href="/strings/cellos">Cellos</a>
                    <a class="navbar-item" href="/strings/basses">Basses</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Percussion
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/percussion/drums">Drums</a>
                    <a class="navbar-item" href="/percussion/cymbals">Cymbals</a>
                    <a class="navbar-item" href="/percussion/tambourines">Tambourines</a>
                    <a class="navbar-item" href="/percussion/xylophones">Xylophones</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Keyboards
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/keyboards/pianos">Pianos</a>
                    <a class="navbar-item" href="/keyboards/organs">Organs</a>
                    <a class="navbar-item" href="/keyboards/synthesizers">Synthesizers</a>
                    <a class="navbar-item" href="/keyboards/electric-keyboards">Electric Keyboards</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Wind Instruments
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/wind-instruments/flutes">Flutes</a>
                    <a class="navbar-item" href="/wind-instruments/clarinets">Clarinets</a>
                    <a class="navbar-item" href="/wind-instruments/saxophones">Saxophones</a>
                    <a class="navbar-item" href="/wind-instruments/trumpets">Trumpets</a>
                </div>
            </div>
        </div>
    </div>
</nav>
