<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Music store{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Header -->
    {% include 'presets/header.html' %}
    <!-- Navbar -->
    {% include 'presets/nav.html' %}
    <!-- Page content -->
    <main>
        <div class="container mt-5">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <!-- Footer -->
    {% include 'presets/footer.html' %}
</body>

</html>